@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 100% 92%;
    --foreground: 249 25% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 95%;
    --popover-foreground: 249 25% 11%;
    --text: 249 25% 11%;
    --border: 249 25% 11%;
    --input: 249 25% 11%;
    --card: 0 0% 95%;
    --card-foreground: 249 25% 11%;
    --primary: 3 99% 28%;
    --primary-foreground: 209 100% 92%;
    --secondary: 42 85% 54%;
    --secondary-foreground: 249 25% 11%;
    --accent: 155 11% 50%;
    --accent-foreground: 155 11% 25%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 209 100% 92%;
    --ring: 3 99% 28%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 209 100% 8%;
    --foreground: 249 25% 89%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 155 11% 50%;
    --accent-foreground: 155 40% 90%;
    --popover: 209 100% 16%;
    --text: 249 25% 89%;
    --popover-foreground: 215 20.2% 85.1%;
    --border: 249 25% 89%;
    --input: 249 25% 89%;
    --card: 209 100% 12%;
    --card-foreground: 249 25% 89%;
    --primary: 3 99% 28%;
    --primary-foreground: 249 25% 89%;
    --secondary: 42 85% 24%;
    --secondary-foreground: 249 25% 89%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 209 100% 92%;
    --ring: 249 25% 89%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}